<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum sequi, aspernatur consectetur omnis exercitationem, perferendis eius voluptate, nisi explicabo harum distinctio saepe ab illum voluptatem unde consequatur libero quaerat quam sunt ipsa quo. Aperiam, eveniet reprehenderit, sint, adipisci perferendis ipsam magni non nulla illum voluptatum maiores?</p>
</body>
</html>